@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --successColor: #48d38a;
  --negativeColor: #f7685b;
}

 * {
  list-style: none;
 }

.box-shadow {
  box-shadow: 0 4px 13px rgba(0,0,0,.05);
}